<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chick-fil-A Menu</title>
    <link rel="stylesheet" href="./css/signup.css">
    <script src="./js/authentication" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/4cf78acc70.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-firestore-compat.js"></script>
</head>

<body>
    <div class="header">
        <div class="navbar">
            <a href="/"><i class="fas fa-home"></i></a>
            <a href="/menu">Menu</a>
            <a href="/about">About</a>
            <a href="#contact">Contact</a>
        </div>
    </div>


    <div class="signup-container">
        <h1>Signup</h1>
        <form id="signup-form" action="/signup" method="post">
            <!-- Aquí se especificaría la ruta y el método para procesar el formulario -->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Signup</button>
        </form>
    </div>


    <div class="footerbx" id="contact">
        <h2>Let's be friends</h2>
        <div class="footer">
            <a href="https://www.instagram.com/chickfila/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/ChickfilA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                target="blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/ChickfilA/" target="blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/user/chickfila/featured" target="blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>





</body>

</html>