/* Estilos para el formulario de registro de usuario */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 180vh;
    background-color: #f4f4f4;
}

form {
    width: 170%; /* Aumentamos el ancho del formulario */
    max-width: 600px; /* Establecemos un máximo para evitar que sea excesivamente ancho */
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    color: #182541;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #E51636;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #182541;
}
